<div>
    <button mat-button> click Me!</button>
    <button mat-raised-button> click Me!</button>
    <button mat-flat-button> click Me!</button>
    <button mat-stroked-button> click Me!</button>
  </div>
  <div>
    <button mat-icon-button> Icon </button>
    <button mat-fab> Icon </button>
    <button mat-mini-fab> Icon </button>
  </div>
  <div>
    <button color="primary" disableRipple mat-button> click Me!</button>
    <button color="accent" mat-button> click Me!</button>
    <button color="warn" mat-button> click Me!</button>
    <button color="primary" mat-raised-button> click Me!</button>
    <button color="accent" mat-raised-button> click Me!</button>
    <button color="warn" mat-raised-button> click Me!</button>
  </div>